/* ====== Group Component ======= */
.groupPic {
    height: 6vh;
    width: 6vh;
    float: left;
}

.group {
    display: block;
    margin: 1.5vh;
    float: left;
    width: 100%;
}

.groupText {
    font-size: 2.7vh;
    margin: 0vh;
    margin-right: 1vh;
    margin-left: 1vh;
    margin-bottom: 1vh;
    float: left;
    line-height: 6vh;
}

.adminCrown {
    width: 4vh;
    float: left;
    top: 1vh;
    position: relative;
}