
/* .allAchievementsProfileDiscordNameIcon {
    height: 4em;
    width: 4em;
    padding-right: 1em;
    display: inline-block;
}

.allAchievementsDiscordNameText {
    size: 10em;
    display: inline-block;
    vertical-align: 1em;
    font-size: 1.2em;
    color: rgb(218, 218, 218);
 }

 .allAchievementsProfileSteamNameIcon {
    height: 4em;
    width: 4em;
    padding-right: 1em;
    display: inline-block;
}

.allAchievementsSteamNameText {
    size: 10em;
    display: inline-block;
    vertical-align: 1em;
    font-size: 1.2em;
    color: rgb(218, 218, 218);
 }

.allAchievementsProfileSteamNameIcon {
    height: 4em;
    width: 4em;
    display: inline-block;
}

.allAchievementsBigProfileAvatar {
    height: 14em;
    width: 14em;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.allAchievementsBigName {
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 0px;
    color: rgb(218, 218, 218);

}

.allAchievementsUsername {
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 2em;
    color: rgb(218, 218, 218);

}

.allAchievementsDiscordName {
    padding: 0em 0em 1em 0em;
}

.allAchievementsSteamName {
    padding: 0em 0em 0em 0em;
}

.allAchievementsProfileDiscordContainer {
    text-align: left;
}

.allAchievementsProfileSteamContainer {
    text-align: left;
}

.allAchievementsSteamName {
    display: inline-block;
}
 */

 
/* .allAchievementsProfileContainer {
    background-color: #4260FF;
    padding: 3em 5em 3em 5em;
    height: 80vh;
    width: 25vh; */
    /* text-align: left; */
    /* float: left;
} */
